:root {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #000;

    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, "Courier New", monospace;

    --highlight: #f38ba8
}

body {
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
    width: 80%;
}

.terminal {
    width: 100%;
    height: 100%;
    max-width: 100%;
    position: relative;
    padding-bottom: 16rem;
    
    border: 1px solid #fff;
    color: white;
    font-size: medium;
}

.terminal .content {
    padding: 10px;
}

#sitenameText {
    color: var(--highlight);
    font-weight: bold;
    font-size: large;
    line-height: normal;
}

.prefix {
    color: #9399b2;
    user-select: none;
}

a:link {
    color: var(--highlight);
}

a:visited {
    color: var(--highlight);
}

ul {
    padding: 4px;
    margin: 4px;
}

li {
    list-style: none;

    display: flex;
    padding: 4px;
}

li img {
    padding-right: 8px;
}

.cursor {
    animation: blink 1s steps(2, start) infinite;
    user-select: none;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

@media (max-width: 600px) {
    #sitename {
        display: none;
    }
}

.note {
    padding-left: 4px;
    font-size: small;
}
