:root {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #000;

    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, "Courier New", monospace;

    --highlight: #cba6f7;
    --lowlight: #7f849c;
    --dark: #313244;

    --red: #f38ba8;
}

body {
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
    width: 80%;
}

.topbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    padding: 2px 2px 5px;
    border-bottom: 2px solid var(--dark);
}

.terminal {
    width: 100%;
    height: 100%;
    max-width: 100%;
    position: relative;
    padding-bottom: 16rem;
    
    border: 1px solid #fff;
    color: white;
    font-size: medium;
}

.terminal .content {
    padding: 10px;
}

#sitenameText {
    color: var(--highlight);
    font-weight: bold;
    font-size: large;
    line-height: normal;
    padding-bottom: 16px;
}

.kittycat {
    position: absolute;
    right: 0;
    bottom: 0;
}

#asciicat {
    color: var(--highlight);
    filter: brightness(90%);
    font-weight: bold;
    font-size: large;
    line-height: normal;
    padding: 16px;
    margin: 0;
}

.prefix {
    color: var(--lowlight);
    user-select: none;
}

a:link {
    color: var(--highlight);
}

a:visited {
    color: var(--highlight);
}

ul {
    padding: 4px;
    margin: 4px;
}

li {
    list-style: none;

    display: flex;
    padding: 4px;
}

li img {
    padding-right: 8px;
}

.cursor {
    animation: blink 1s steps(2, start) infinite;
    user-select: none;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

@media (max-width: 700px) {
    #sitename {
        display: none;
    }
}

.note {
    padding-left: 4px;
    font-size: small;
}

.close {
    position: absolute;
    right: 0;
    height: 20px;
    width: 20px;
    background-color: var(--red);
    fill: white;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.close:hover {
    border: 1px solid white;
    margin: -1px;
}

.close::after {
    content: "\00d7";
    font-size: 20px;
}
